<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav th:fragment="body" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">RollerSpeed</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">                   
                            Acerca de
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/mision}">Misión</a></li>
                            <li><a class="dropdown-item" th:href="@{/vision}">Visión</a></li>
                            <li><a class="dropdown-item" th:href="@{/valores}">Valores</a></li>
                            <li><a class="dropdown-item" th:href="@{/servicios}">Servicios</a></li>
                            <li><a class="dropdown-item" th:href="@{/eventos}">Eventos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="instructorDropDown">Instructores</a>
                        <ul class="dropdown-menu" aria-labelledby="instructorDropDown">
                            <li><a class="dropdown-item" th:href="@{/instructors/register}">Registrar Instructor</a></li>
                            <li><a class="dropdown-item" th:href="@{/instructors}">Lista de instructores</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="studentDropDown">Estudiantes</a>
                        <ul class="dropdown-menu" aria-labelledby="studentDropDown">
                            <li><a class="dropdown-item" th:href="@{/students/register}">Registrar Estudiante</a></li>
                            <li><a class="dropdown-item" th:href="@{/students}">Lista de Estudiantes</a></li>
                        </ul>
                    </li>
					<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="clasesDropDown">Clases</a>
                        <ul class="dropdown-menu" aria-labelledby="clasesDropDown">
                            <li><a class="dropdown-item" th:href="@{/clases/nuevo}">Programar Clase</a></li>
                            <li><a class="dropdown-item" th:href="@{/clases}">Lista de Clases</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
